body {
  font-size: 2em;
  overflow: scroll;
}

.kysymysJaNapit {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.kysymysJaNapit>div {
  background-color: #488be0;
  border-radius: 1.5em;
  max-width: 85%;
}

.vastaus {
  cursor: pointer;
  padding: 0.5em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-left: 3em;
  margin-right: 3em;
  border: 0.1em solid black;
  text-align: center;
  border-radius: 0em;
  background-color: white;

}

.vaarin {
  background-color: red;
}

.oikein {
  background-color: lightgreen;
}

.painettu {
  background-color: darkgrey;
}

.seuraavaKysymys {
  cursor: pointer;
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid black;
  text-align: center;
  background-color: lightgray;
  border-radius: 1em;
}

.painettu {
  background-color: white;
}

.seuraavaKysymysHr {
  margin: 1em;
}

.kysymys {
  text-align: center;
  font-weight: 1.5em;
}

.aihe {
  margin: 1em;
  padding: 0.5em;
  border: 2px solid black;
  text-align: center;
  border-radius: 1em;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.aihe:hover {
  background-color: lightgray;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.h1 {
  text-align: center;
  margin-top: 0;
}


.clock {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  background: #488be0;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}

.pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: white;
  box-sizing: border-box;
}

.spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rotate 10s linear infinite;
  box-sizing: border-box;
}

.paint {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: nakyvyys 10s steps(1, end) infinite reverse;
  border-left: none;
  box-sizing: border-box;
}

.mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: mask 10s steps(1, end) infinite;
  box-sizing: border-box;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes nakyvyys {
  0% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes mask {
  0% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.ylapalkki {
  background: #c3daf7;
}

.kysymysDiv {
  display: flex;
  flex-direction: column;
}

.tiedot {
  display: flex;
}

.tiedot>div:last-of-type {
  color: white;
  margin: 0;
  padding: 0;
  margin: 0.5em;
  margin-top: 0.8em;
  margin-left: auto;
}
