body {
  font-size: 2em;
}

.kysymysJaNapit {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.vastaus {
  cursor: pointer;
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid black;
  text-align: center;
  border-radius: 1em;
}

.vaarin {
  background-color: red;
}

.oikein {
  background-color: lightgreen;
}

.painettu {
  background-color: darkgrey;
}

.seuraavaKysymys {
  cursor: pointer;
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid black;
  text-align: center;
  background-color: lightgray;
  border-radius: 1em;
}

.painettu {
  background-color: white;
}

.seuraavaKysymysHr {
  margin: 1em;
}

.kysymys {
  text-align: center;
}

.aihe {
  margin: 1em;
  padding: 0.5em;
  border: 2px solid black;
  text-align: center;
  border-radius: 1em;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.aihe:hover {
  background-color: lightgray;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.h1 {
  text-align: center;
  margin-top: 0;
}
