.vastaus {
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  list-style-type: none;
}

.vastaus:hover {
  background-color: lightgray;
}


.painettu {
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  list-style-type: none;
  background-color: darkgrey;
}

.aihe {
  margin: 1em;
  padding: 0.5em;
  border: 2px solid black;
  text-align: center;
  border-radius: 1em;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.aihe:hover {
  background-color: lightgray;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.h1 {
  text-align: center;
  margin-top: 0;
}

.väärin {
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  list-style-type: none;
  background-color: red;
}

.oikein {
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  list-style-type: none;
  background-color: lightgreen;
}