<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>VISAPELI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../../static/css/tyylit.css') }}">
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  <script src='https://unpkg.com/@remix-run/router@1.11.0/dist/router.umd.min.js'></script>
  <script src='https://unpkg.com/react-router@6.18.0/dist/umd/react-router.development.js'></script>
  <script src='https://unpkg.com/react-router-dom@6.18.0/dist/umd/react-router-dom.development.js'></script>
</head>

<body>
  <div id="root"></div>
  <script type="text/jsx">
const { BrowserRouter, Routes, Route, useNavigate, Link, useParams } = ReactRouterDOM;
const url = window.location.pathname;
const osat = url.split('/');
const visapeliIndex = osat.indexOf("main.cgi");
let path = '';
if (path !== -1) {
  path = '/' + osat.slice(0, visapeliIndex + 1).join('/');
}
const ValitseAihe = () => {
  const aiheet = ["History", "Geography"];
  const navigate = useNavigate();

  const handleClick = (e, aihe) => {
    const nykyinenPath = window.location.pathname;
    const osat = nykyinenPath.split("/");
 
    osat.pop();
  
    const uusiPath = osat.join("/") + "/Peli/" + aihe;
  
    navigate(uusiPath);
  };

  return (
    <div className="valitseAihe">
      <h2 className="h1">AIHEET</h2>
      <div className="aiheet">
        {aiheet.map((aihe, index) => (
          <div
            className="aihe"
            key={index}
            onClick={(e) => handleClick(e, aihe)}
          >
            {aihe.toUpperCase()}
          </div>
        ))}
      </div>
    </div>
  );
};

// Peli komponentit
// -------------------------------------------------------------------- 

const NavMenu = () => {
  const [auki, setAuki] = React.useState(false);

  const navigate = useNavigate();
  const handleClick = () => {
    const nykyinenPath = window.location.pathname;
    const osat = nykyinenPath.split("/");

    const indeksi = osat.findIndex(osa => osa === "main.cgi");

    const uusiPath = osat.slice(0, indeksi + 1).join("/") + "/ValitseAihe"
    setAuki(() => false);
    navigate(uusiPath); 

  };

  return (
    <div className="nav">
      <div className={`icon ${auki ? "auki" : ''}`} onClick={() => setAuki(edellinen => !edellinen)}>
        <span className="line"></span>
        <span className="line"></span>
        <span className="line"></span>
      </div>
      <div onClick={handleClick} className="nimi">VISAPELI</div>
      <div className={`sivupalkki ${auki ? "auki" : ''}`}>
        <a onClick={handleClick}>Etusivu</a>
      </div>
    </div>
  );
};

const LoadingKuvake = () => {
  return (
    <div className="loadingDiv">
      <div className="loading"></div>
    </div>
  );
}

const laskeFonttiKoko = (str, elementWidth, fonttiKoko) => {
  const length = str.length;
  const mult = elementWidth / (fonttiKoko * length);
  let fontSize = fonttiKoko * mult * 1.5;
  if (fontSize > fonttiKoko) fontSize = fonttiKoko;
  return Math.round(fontSize);
};

const Kysymys = ({ userId, kysymys }) => {

  const [kysymysIndex, setKysymysIndex] = React.useState(0);
  const [question, setQuestion] = React.useState(null);
  const [loading, setLoading] = React.useState(false);


  React.useEffect(() => {
    const haeKysymys = async () => {
      setLoading(true);

      try {
        const response = await fetch("../haeKysymys", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            kayttajaID: userId.toString(),
            kysymysID: kysymys.kysymykset[kysymysIndex].toString(),
          }),
        });

        if (!response.ok) throw new Error("Virhe kysymyksen haussa");

        const result = await response.json();
        setQuestion(result);
      } catch (error) {
        console.error(error);
      } finally {
        setLoading(false);
      }
    };
    console.log("hae");
    haeKysymys();
  }, [kysymysIndex]);

  const navigate = useNavigate();
  const luoSeuraavaKysymys = () => {
    console.log(kysymysIndex, kysymys.kysymykset.length);
    if (kysymysIndex === kysymys.kysymykset.length - 1) {
      const nykyinenPath = window.location.pathname;
      const osat = nykyinenPath.split("/");
      osat.pop();
      const uusiPath = osat.join("/") + "/Results";
      navigate(uusiPath);
    }
    else {
      setKysymysIndex((kysymysIndex) => kysymysIndex + 1);
    }
  };

  return (
    <div>
      {loading ? (
        <LoadingKuvake />
      ) : question ? (
        <KysymysJaNapit
          question={question}
          aihe={kysymys.aiheData.aihe}
          seuraavaKysymys={luoSeuraavaKysymys}
          kysymysId={kysymys.kysymykset[kysymysIndex].toString()}
          kysymyksetPituus={kysymys.kysymykset.length}
          key={kysymys.kysymykset[kysymysIndex].toString()}
          userId={userId}
        />
      ) : (
        <LoadingKuvake />
      )}
    </div>
  );
};

const KysymysJaNapit = ({ question, aihe, seuraavaKysymys, kysymysId, kysymyksetPituus, userId }) => {
  const [aktiivinen, setAktiivinen] = React.useState(false);
  const [isCorrect, setIsCorrect] = React.useState(null);
  const [painettu, setPainettu] = React.useState(false);
  const [start, setStart] = React.useState(false);
  const [pause, setPause] = React.useState(false);
  const [startAika, setStartAika] = React.useState(null);
  const [kutsuSeuraavaKysymys, setKutsuSeuraavaKysymys] = React.useState(false);
  const [sekunnit, setSekunnit] = React.useState(10);
  const [kysymysNakyviin, setKysymysNakyviin] = React.useState(false);

  const muutaFonttiKoko = (elementId) => {
    const elementit = document.querySelectorAll(elementId);
    for (let i of elementit) {
      const leveys = i.offsetWidth;
      const str = i.textContent;
      let koko = laskeFonttiKoko(str, leveys, window.getComputedStyle(i).fontSize);
      i.style.fontSize = `${koko}px`;
    }
  };

  React.useEffect(() => {
    setKysymysNakyviin(() => true);
    muutaFonttiKoko(".ylapalkki");
    muutaFonttiKoko(".vastaus");
    window.addEventListener("resize", () => {
      muutaFonttiKoko(".ylapalkki");
      muutaFonttiKoko(".vastaus");
    });

    setStart(true);
    setStartAika(performance.now());

    return () => {
      document.getElementById("root").removeEventListener('click', seuraavaKysymys);
    };
  }, []);

  React.useEffect(() => {
    if (kutsuSeuraavaKysymys) {
      seuraavaKysymys();
    }
  }, [kutsuSeuraavaKysymys]);


  React.useEffect(() => {
    if (start && !pause) {
      const aikaväli = setInterval(() => {
        setSekunnit(prev => {
          if (prev === 1) {
            handleAikaloppui();
            clearInterval(aikaväli);
            return 0;
          }
          return prev - 1;
        });
      }, 1000);

      return () => clearInterval(aikaväli);
    }
  }, [start, pause]);

  const tarkistaVastaus = async (vastausId) => {
    try {
      const response = await fetch("../tarkistaVastaus", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          aika: 10,
          kayttajaID: userId,
          kysymysID: kysymysId,
          vastausID: vastausId.toString()
        }),
      });
      if (!response.ok) {
        throw new Error("Virhe tarkistuksessa");
      }
      const result = await response.json();
      console.log(result);
      return result;
    } catch (error) {
      console.log(error);
    }
  };

  const handleAnswerClick = async (e, key, index) => {
    if (painettu) return;

    setPainettu(true);
    setAktiivinen(index);
    setPause(true);
    e.target.classList.add("painettu");

    const oikeinko = await tarkistaVastaus(key);
    setIsCorrect(oikeinko);

    const loppu = performance.now();
    const kokonaisaika = (loppu - startAika) / 1000;
    console.log("aikaa meni", kokonaisaika, startAika);

    document.getElementById("root").addEventListener('click', () => { setKutsuSeuraavaKysymys("true"); });


    setTimeout(() => {
      setKutsuSeuraavaKysymys("true");
    }, 3000);
  };

  const aikaLoppui = () => {
    setPainettu(true);
    //TODO HAE OIKEA VASTAUA
    // await haeVastauus 
    document.body.addEventListener('click', () => { setKutsuSeuraavaKysymys("true"); });
    setTimeout(() => {
      setKutsuSeuraavaKysymys("true");
    }, 3000);
  };

  const handleAikaloppui = () => {
    console.log("Aika loppui");
    aikaLoppui();
  };

  if (!question || !question.kysymys || !question.vastausvaihtoehdot) {
    return <LoadingKuvake />;
  }

  return (
    <div className={`kysymysJaNapit havitys ${kysymysNakyviin ? 'nakyviin' : ''}`}>
      <div className="kysymysDiv">
        <div className="tausta">
          <div className="tiedot">
            <div className="kello">{sekunnit}</div>
            <div>{kysymysId}/10  {aihe}</div>
          </div>
          <div className="ylapalkki">
            <h1 className="kysymys">{question.kysymys}</h1>
          </div>
        </div>
        {Object.entries(question.vastausvaihtoehdot).map(([key, vastaus], index) => (
          <div
            key={key}
            className={
              aktiivinen === index && isCorrect !== null
                ? isCorrect
                  ? "oikein vastaus"
                  : "vaarin vastaus"
                : "vastaus"
            }
            onClick={(e) => handleAnswerClick(e, key, index)}
          >
            {vastaus}
          </div>
        ))}
      </div>
    </div>
  );
};

const Results = () => {
  
  const navigate = useNavigate();

  const handleClick = () => {
        const nykyinenPath = window.location.pathname;
        const osat = nykyinenPath.split("/");
        osat.pop();
        osat.pop();
        const uusiPath = osat.join("/") + "/ValitseAihe";
      navigate(uusiPath);
  };

  return (
    <div>
      <h1>Pisteet</h1>
      <button onClick={handleClick
      }>Valikko</button>
    </div>
  );
};


const Peli = () => {
  const { aihe } = useParams();
  const pelinAihe = aihe;

  const [userId, setUserId] = React.useState("");
  const [kysymys, setKysymys] = React.useState();


  React.useEffect(() => {
    let id = "";
    const haeId = async () => {
      try {
        const response = await fetch("../annaID");
        if (!response.ok) {
          throw new Error("Virhe response ei ole ok");
        }
        const result = await response.text();
        console.log(result);
        await setUserId(result);
        id = result;
        asetaAihe(result);
      } catch (error) {
        console.error(error);
      }
    };


    const asetaAihe = async (kayttajaId) => {
      try {
        console.log(kayttajaId);
        console.log(pelinAihe, "aihe");
        const response = await fetch("../asetaAihe", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ kayttajaID: kayttajaId.toString(), aihe: pelinAihe }),
        });

        if (!response.ok) {
          throw new Error("Virhe");
        }
        const result = await response.json();
        setKysymys(result);
        console.log(userId);
        const interval = setInterval(async () => {
          console.log("Sending heartbeat...");
          try {
            const response = await fetch("../heartbeat", {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                kayttajaID: id.toString(),
              }),
            });
            console.log(response);

            if (!response.ok) {
              throw new Error("virhe");
            }

          } catch (error) {
            console.log(error);
          }
        }, 5000);



      } catch (error) {
        console.log("virhe ei onnistu");
      }
    };
    haeId();
  }, []);

  return (
    <div>
      {userId && kysymys && (<Kysymys userId={userId} kysymys={kysymys} />)}
    </div>);
};


//--------------------------------------------------------------------


const App = () => {
 console.log(path);
  return (
    <BrowserRouter>
      <NavMenu />
      <div>
        <Routes>
          <Route path={path + "/ValitseAihe"} element={<ValitseAihe />} />
          <Route path={path + "/Peli/Results"} element={<Results />} />
          <Route path={path + "/Peli/:aihe"} element={<Peli />} />
        </Routes>
      </div>
    </BrowserRouter>
  );
};

const root = ReactDOM.createRoot(document.getElementById('root'));
root.render(
  <App />
);
    </script>
</body>

</html>
