<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>React Hello World</title>
  <link rel="stylesheet" href="../tyylit.css">
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  <script src='https://unpkg.com/@remix-run/router@1.11.0/dist/router.umd.min.js'></script>
  <script src='https://unpkg.com/react-router@6.18.0/dist/umd/react-router.development.js'></script>
  <script src='https://unpkg.com/react-router-dom@6.18.0/dist/umd/react-router-dom.development.js'></script>
</head>

<body>

  <div id="root"></div>
  <script type="text/jsx">

let url = window.location.pathname;


let path = url.slice(0, url.lastIndexOf("/"));
const { BrowserRouter, Routes, Route, Navigate, Link, useParams } = ReactRouterDOM;

const ValitseAihe = () => {
  const aiheet = ["history", "geography"];
 
  const handleClick = (aihe) => {
    window.location.href = `${path}/Peli/${aihe}`; 
  };

  return (
    <div className="valitseAihe">
      <h2 className="h1">VISAPELI</h2>
      {aiheet.map((aihe, index) => (
        <div
          className="aihe"
          key={index}
          onClick={() => handleClick(aihe)}
        >
          {aihe.toUpperCase()}
        </div>
      ))}
    </div>
  );
};

const App = () => {
  

return (
  <BrowserRouter>
    <div>
      <Routes>
        <Route path={path + "/ValitseAihe"} element={<ValitseAihe />} />
          <Route path={path + "/"} element={<Navigate to={path + "/ValitseAihe"} replace /> }/>
      </Routes>
    </div>
  </BrowserRouter>
);
};

const root = ReactDOM.createRoot(document.getElementById('root'));
root.render(
<App />
);
</script>
</body>

</html>
