<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Peli</title>
  <link rel="stylesheet" href="../../tyylit.css">
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  <script src='https://unpkg.com/@remix-run/router@1.11.0/dist/router.umd.min.js'></script>
  <script src='https://unpkg.com/react-router@6.18.0/dist/umd/react-router.development.js'></script>
  <script src='https://unpkg.com/react-router-dom@6.18.0/dist/umd/react-router-dom.development.js'></script>
  <script src="../../templates/peli.js" type="text/jsx"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
