* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body {
    margin-bottom: 10vh;
    background-color: #eeeeee;
}

div {
    margin: 2vw;
}

body {
    margin-bottom: 10vh;
}

body {
    margin-bottom: 10vh;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 5vh;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 0vh;
    padding-bottom: 1vh;
    margin-bottom: 0;
}

h3 {
margin-top: 5vh;
}

div {
    font-size: 2vh;
}

#topBar {
    background-color: white;
    margin-left: 3vw;
    margin-right: 3vw;
    height: 5vh;
    position: fixed;
    width: 94%;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #CCCCCC;
    z-index: 1;
}

#topBar a{
    margin-left: 0.5vw;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5vh;
}

#content > div {
    width: 50%;
    padding-left: 5vw;
}

.returnText {
    color: black;
    font-weight: bold;
    padding-left: 1vw;
}

.visapeliText {
    font-size: 4vh;
    color: #686868;
    position: relative;
    left: 1vw;
    text-decoration: none;
    border-right: 2px solid #CCCCCC;
    padding-right: 1vw;
}